<app-page-wrapper
  headerTitle="Section List"
  headerSubtitle="Explore Sections within selected Sections"
  headerIcon="map"
>
  <button
    card-actions
    color="primary"
    mat-flat-button
    (click)="openSectionSubjectDialog()"
  >
    <i class="bi bi-plus-lg me-1"></i>
    Add Section-subject
  </button>

  <app-table
    [dataRow]="sections()"
    [columns]="Columns"
    [hasActions]="true"
    (actionClicked)="handleUserAction($event)"
    [usePaginator]="false"
    [actions]="actions"
  ></app-table>
</app-page-wrapper>
