<mat-card>
  <mat-card-header>
    <mat-card-title>إدارة الصفوف والمراحل</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <p>يرجى تحديد الصفوف والمراحل التي تدرس في مدرستك:</p>

    <div class="mat-elevation-z2">
      <table mat-table [dataSource]="stageGrades" class="full-width-table">
        <ng-container matColumnDef="select">
          <th mat-header-cell *matHeaderCellDef>
            <mat-checkbox
              (change)="$event ? masterToggle() : null"
              [checked]="selection.hasValue() && isAllSelected()"
              [indeterminate]="selection.hasValue() && !isAllSelected()"
              [aria-label]="checkboxLabel()"
            >
            </mat-checkbox>
          </th>
          <td mat-cell *matCellDef="let row">
            <mat-checkbox
              (click)="$event.stopPropagation()"
              (change)="$event ? selection.toggle(row) : null"
              [checked]="selection.isSelected(row)"
              [aria-label]="checkboxLabel(row)"
            >
            </mat-checkbox>
          </td>
        </ng-container>

        <ng-container matColumnDef="stageName">
          <th mat-header-cell *matHeaderCellDef>المرحلة</th>
          <td mat-cell *matCellDef="let element">{{ element.stageName }}</td>
        </ng-container>

        <ng-container matColumnDef="gradeName">
          <th mat-header-cell *matHeaderCellDef>الصف</th>
          <td mat-cell *matCellDef="let element">{{ element.gradeName }}</td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>
    </div>

    <div class="actions">
      <button
        mat-raised-button
        color="primary"
        (click)="saveSettings()"
        [disabled]="selection.isEmpty()"
      >
        <mat-icon>save</mat-icon> حفظ الإعدادات
      </button>
    </div>
  </mat-card-content>
</mat-card>
