<div class="school-card">
  <a routerLink="/school/{{ school().id }}" class="card-link">
    <div class="card-image-container">
      <img
        [src]="'assets/images/schools/' + school().coverImage"
        class="card-img-top"
        alt="Arcadia Global School"
      />
      <div class="image-overlay"></div>
      <div
        class="featured-badge"
        data-bs-toggle="tooltip"
        data-bs-placement="bottom"
        title="Featured"
      >
        <i class="bi bi-lightning-fill"></i>
      </div>
    </div>
    <div class="card-content-scrollable">
      <div class="card-body-main">
        <div
          class="school-logo"
          [style.backgroundImage]="
            'url(assets/images/schools/' + school().logo + ')'
          "
        ></div>

        <h5 class="card-title">{{ school().name }}</h5>
        <div class="school-rating d-flex align-items-center mb-1">
          <ng-container *ngFor="let star of [1, 2, 3, 4, 5]">
            <i
              class="bi"
              [ngClass]="
                star <= roundRating(school().averageRating)
                  ? 'bi-star-fill text-warning'
                  : 'bi-star text-muted'
              "
            ></i>
          </ng-container>
          <span class="rating-number ms-2"
            >({{ school().averageRating | number : "1.1-1" }})</span
          >
        </div>

        <p class="card-text mb-0">{{ schoolLevel[school().schoolLevel] }}</p>
        <p class="card-text mb-0">{{ genderLabels[school().genderType] }}</p>
      </div>
      <div class="contact-info-section">
        <ul class="contact-info list-unstyled d-flex p-0">
          <li><i class="bi bi-phone-fill"></i> {{ school().mainPhone }}</li>
          <li>
            <i class="bi bi-geo-alt-fill"></i> {{ school().city }}/
            {{ school().region }}
          </li>
        </ul>
      </div>
    </div>
  </a>
  <div class="card-footer">
    <div class="curriculum-tag d-flex justify-content-between">
      <span class="tag-icon" style="background-color: #0c007f"
        ><i class="material-icons">bookmark_border</i></span
      >
      <span class="tag-name"> {{ schoolType[school().schoolType] }}</span>
    </div>
    <div class="action-icons">
      <span class="tag-name ms-3">
        منهج/{{ curriculumType[school().curriculumType] }}</span
      >
      <a
        href="#"
        class="quick-view-btn"
        data-bs-toggle="tooltip"
        data-bs-placement="top"
        title="Quick view"
      >
        <i class="bi bi-zoom-in"></i>
      </a>
      <a
        href="#"
        class="bookmark-btn"
        data-bs-toggle="tooltip"
        data-bs-placement="top"
        title="Bookmark"
      >
        <i class="bi bi-heart"></i>
      </a>
    </div>
  </div>
</div>
