<div class="school-card">
  <a routerLink="/school/{{ school().id }}" class="card-link">
    <div class="card-image-container">
      <img
        [src]="school().coverImage"
        class="card-img-top"
        alt="Arcadia Global School"
      />
      <div class="image-overlay"></div>
      <div
        class="featured-badge"
        data-bs-toggle="tooltip"
        data-bs-placement="bottom"
        title="Featured"
      >
        <i class="bi bi-lightning-fill"></i>
      </div>
    </div>
    <div class="card-content-scrollable">
      <div class="card-body-main">
        <div
          class="school-logo"
          [style.backgroundImage]="
            'url(assets/images/schools/' + school().logo + ')'
          "
        ></div>

        <h5 class="card-title">{{ school().name }}</h5>
        <p class="card-text">{{ school().schoolLevel }}</p>
        <p class="card-text">{{ genderLabels[school().genderType] }}</p>
      </div>
      <div class="contact-info-section">
        <ul class="contact-info list-unstyled d-flex">
          <li><i class="bi bi-phone-fill"></i> {{ school().mainPhone }}</li>
          <li>
            <i class="bi bi-geo-alt-fill"></i> {{ school().city }}/
            {{ school().region }}
          </li>
        </ul>
      </div>
    </div>
  </a>
  <div class="card-footer">
    <div class="curriculum-tag">
      <span class="tag-icon" style="background-color: #0c007f"
        ><i class="material-icons">bookmark_border</i></span
      >
      <span class="tag-name">{{ school().schoolType }}</span>
    </div>
    <div class="action-icons">
      <a
        href="#"
        class="quick-view-btn"
        data-bs-toggle="tooltip"
        data-bs-placement="top"
        title="Quick view"
      >
        <i class="bi bi-zoom-in"></i>
      </a>
      <a
        href="#"
        class="bookmark-btn"
        data-bs-toggle="tooltip"
        data-bs-placement="top"
        title="Bookmark"
      >
        <i class="bi bi-heart"></i>
      </a>
    </div>
  </div>
</div>
