<div class="sidebar-header">
  <!-- Close button for small screens -->
  <div
    *ngIf="isMobileView"
    class="sidebar-close-btn d-flex justify-content-end w-100 p-2"
  >
    <button
      mat-icon-button
      (click)="closeSidebar.emit()"
      aria-label="Close sidebar"
    >
      <mat-icon>close</mat-icon>
    </button>
  </div>

  <img
    src="https://placehold.co/80x80/aabbcc/ffffff?text=Logo"
    alt="App Logo"
    class="sidebar-logo"
  />
  <h3 class="sidebar-title">لوحة الإعدادات</h3>
</div>

<mat-divider></mat-divider>

<mat-nav-list class="sidebar-nav-list">
  <a mat-list-item routerLink="/">
    <mat-icon matListItemIcon>home</mat-icon>
    <span matListItemTitle>الرئيسية</span>
  </a>

  @if(accountService.currentUser()?.userType === userTypes.Admin || true){
  <a
    mat-list-item
    routerLink="/school-dash-board/school-grade"
    routerLinkActive="active-link"
  >
    <mat-icon matListItemIcon>location_city</mat-icon>
    <span matListItemTitle>إدارة الصفوف والمراحل</span>
  </a>

  <a
    mat-list-item
    routerLink="/school-dash-board/school-subject"
    routerLinkActive="active-link"
  >
    <mat-icon matListItemIcon>location_city</mat-icon>
    <span matListItemTitle>إدارة المواد الدراسية</span>
  </a>

  <a
    mat-list-item
    routerLink="/school-dash-board/school-years"
    routerLinkActive="active-link"
  >
    <mat-icon matListItemIcon>location_city</mat-icon>
    <span matListItemTitle>إدارة الأعوام الدراسية </span>
  </a>

  <a
    mat-list-item
    routerLink="/school-dash-board/school-term"
    routerLinkActive="active-link"
  >
    <mat-icon matListItemIcon>location_city</mat-icon>
    <span matListItemTitle>إدارة الفصول الدراسية </span>
  </a>
  <a
    mat-list-item
    routerLink="/school-dash-board/school-teacher-list"
    routerLinkActive="active-link"
  >
    <mat-icon matListItemIcon>location_city</mat-icon>
    <span matListItemTitle>إدارة المعلمين </span>
  </a>
  <a
    mat-list-item
    routerLink="/school-dash-board/school-student-list"
    routerLinkActive="active-link"
  >
    <mat-icon matListItemIcon>location_city</mat-icon>
    <span matListItemTitle>إدارة الطلاب </span>
  </a>
  <a
    mat-list-item
    routerLink="/school-dash-board/section-grade-list"
    routerLinkActive="active-link"
  >
    <mat-icon matListItemIcon>location_city</mat-icon>
    <span matListItemTitle>إدارة الشعب الدراسية</span>
  </a>
  <a
    mat-list-item
    routerLink="/school-dash-board/section-subject"
    routerLinkActive="active-link"
  >
    <mat-icon matListItemIcon>location_city</mat-icon>
    <span matListItemTitle>توزيع المناهج والمعلمين</span>
  </a>
  <a
    mat-list-item
    routerLink="/school-dash-board/report"
    routerLinkActive="active-link"
  >
    <mat-icon matListItemIcon>location_city</mat-icon>
    <span matListItemTitle>تقارير</span>
  </a>

  } @if (accountService.currentUser()?.userType === userTypes.Teacher || true) {
  <a
    mat-list-item
    routerLink="/school-dash-board/attendance"
    routerLinkActive="active-link"
  >
    <mat-icon matListItemIcon>location_city</mat-icon>
    <span matListItemTitle>التحضير</span>
  </a>
  <a
    mat-list-item
    routerLink="/school-dash-board/mark-entry"
    routerLinkActive="active-link"
  >
    <mat-icon matListItemIcon>location_city</mat-icon>
    <span matListItemTitle>الدرجات</span>
  </a>
  }
</mat-nav-list>
