<app-page-wrapper
  [headerTitle]="mode() === 'add' ? 'إضافة مدرسة جديدة' : 'تعديل المدرسة:'"
  [headerSubtitle]="
    mode() === 'add'
      ? 'أدخل تفاصيل المدرسة الجديدة'
      : 'قم بتعديل تفاصيل هذه المدرسة'
  "
  [headerIcon]="mode() === 'add' ? 'add_business' : 'edit'"
  [headerStyle]="mode() === 'add' ? 'add' : 'edit'"
>
  <form [formGroup]="schoolForm" (ngSubmit)="onSumit()" class="row g-3">
    <div class="col-md-6">
      <app-form-input
        label="اسم المدرسة (بالعربية)"
        icon="school"
        formControlName="nameAr"
      />
    </div>

    <div class="col-md-6">
      <app-form-input
        label="اسم المدرسة (بالإنجليزية)"
        icon="school"
        formControlName="nameEn"
      />
    </div>

    <div class="col-12">
      <app-form-input
        label="العنوان (بالعربية)"
        icon="location_on"
        formControlName="addressAr"
      />
    </div>

    <div class="col-12">
      <app-form-input
        label="العنوان (بالإنجليزية)"
        icon="location_on"
        formControlName="addressEn"
      />
    </div>

    <div class="col-md-4">
      <app-select-input
        label="المدينة"
        [options]="citeService.cities()"
        labelKey="nameAr"
        valueKey="id"
        formControlName="cityId"
        (ngModelChange)="onCitiesChange($event)"
      />
    </div>

    <div class="col-md-4">
      <app-select-input
        label="المنطقة"
        [options]="regionService.regions()"
        labelKey="nameAr"
        valueKey="id"
        formControlName="regionId"
      />
    </div>

    <div class="col-md-4">
      <app-form-input label="الرمز البريدي" formControlName="postalCode" />
    </div>

    <div class="col-md-6"></div></form
></app-page-wrapper>
