<app-page-wrapper
  [headerTitle]="mode() === 'add' ? 'إضافة معلم جديد' : 'تعديل المعلم:'"
  [headerSubtitle]="
    mode() === 'add'
      ? 'أدخل تفاصيل المعلم الجديد'
      : 'قم بتعديل تفاصيل هذا المعلم'
  "
  [headerIcon]="mode() === 'add' ? 'add_business' : 'edit'"
  [headerStyle]="mode() === 'add' ? 'add' : 'edit'"
>
  <form [formGroup]="teacherForm" (ngSubmit)="onSumit()" class="row g-3">
    <div class="row">
      <div class="col-md-6">
        <app-form-input
          label="الاسم (بالعربية)"
          icon="person"
          formControlName="nameAr"
        />
      </div>

      <div class="col-md-6">
        <app-form-input
          label="الاسم (بالإنجليزية)"
          icon="person"
          formControlName="nameEn"
        />
      </div>

      <div class="col-md-6">
        <app-form-input
          label="البريد الإلكتروني"
          icon="email"
          formControlName="email"
          type="email"
        />
      </div>

      <div class="col-md-6">
        <app-form-input
          label="رقم الهاتف"
          icon="phone"
          formControlName="phoneNumber"
        />
      </div>

      <div class="col-md-6">
        <app-form-input
          label="الهاتف الرئيسي"
          icon="call"
          formControlName="mainPhone"
        />
      </div>

      <div class="col-md-6">
        <app-form-input
          label="الرمز البريدي"
          icon="location_on"
          formControlName="postalCode"
        />
      </div>

      <div class="col-12">
        <app-form-input
          label="العنوان"
          icon="location_on"
          formControlName="address"
        />
      </div>

      <div class="col-md-6">
        <app-select-input
          label="الجنس"
          icon="wc"
          formControlName="gender"
          valueKey="value"
          labelKey="label"
          [options]="[
            { value: 1, label: 'ذكر' },
            { value: 2, label: 'أنثى' }
          ]"
        />
      </div>

      <div class="col-md-6">
        <app-form-input
          label="تاريخ التعيين"
          icon="event"
          type="date"
          formControlName="hireDate"
        />
      </div>

      <div class="col-md-6">
        <app-form-input
          label="التخصص"
          icon="work"
          formControlName="specialization"
        />
      </div>

      <div class="col-md-6">
        <app-select-input
          label="حالة التوظيف"
          icon="assignment_ind"
          formControlName="employmentStatus"
          valueKey="value"
          labelKey="label"
          [options]="[
            { value: 'Permanent', label: 'دائم' },
            { value: 'Contract', label: 'متعاقد' }
          ]"
        />
      </div>

      <div class="col-12">
        <app-form-input
          label="رابط صورة الملف الشخصي"
          icon="image"
          formControlName="profilePictureUrl"
        />
      </div>
    </div>

    <mat-card-actions class="d-flex justify-content-end p-4 gap-3">
      <button mat-raised-button color="primary" type="submit">
        <mat-icon>save</mat-icon> {{ mode() === "add" ? "إنشاء" : "حفظ" }}
      </button>
      <button
        mat-stroked-button
        color="accent"
        (click)="onCancel()"
        type="button"
      >
        <mat-icon>cancel</mat-icon> إلغاء
      </button>
    </mat-card-actions>
  </form>
</app-page-wrapper>
