<h2 mat-dialog-title>{{ isEdit ? "تعديل المدينة" : "إضافة مدينة" }}</h2>

<form [formGroup]="form" (ngSubmit)="submit()" mat-dialog-content class="pt-3">
  <app-form-input label="الاسم (بالعربية)" formControlName="nameAr" />
  <app-form-input label="الاسم (بالإنجليزية)" formControlName="nameEn" />
  <app-form-input label="مسار الصورة" formControlName="imagePath" />
</form>

<mat-dialog-actions align="end">
  <button mat-button (click)="cancel()">إلغاء</button>
  <button
    mat-flat-button
    color="primary"
    [disabled]="form.invalid"
    type="submit"
    (click)="submit()"
  >
    {{ isEdit ? "تحديث" : "إضافة" }}
  </button>
</mat-dialog-actions>
