@if(allowSerch){
<div class="table-header">
  <mat-form-field appearance="outline" class="search-field">
    <mat-label>Search</mat-label>
    <input
      matInput
      (keyup)="applyFilter($event)"
      placeholder="Filter data"
      #input
    />
    <mat-icon matSuffix>search</mat-icon>
  </mat-form-field>
</div>

}
<div class="mat-elevation-z2 table-wrapper">
  <table
    mat-table
    [dataSource]="filteredData"
    matSort
    (matSortChange)="sortData($event)"
  >
    <ng-container matColumnDef="counter">
      <th mat-header-cell *matHeaderCellDef>No.</th>
      <td mat-cell *matCellDef="let element; let i = index">
        {{ i + 1 + (usePaginator ? pageIndex * pageSize : 0) }}
      </td>
    </ng-container>

    @for (col of columns; track col.key) {
    <ng-container [matColumnDef]="col.key">
      <th mat-header-cell *matHeaderCellDef>
        @if (col.sortable) {<span [mat-sort-header]="col.key">{{
          col.header
        }}</span
        >} @if (!col.sortable) {<span>{{ col.header }}</span
        >}
      </th>

      <td mat-cell *matCellDef="let element">
        @switch (col.type) { @case ('date') {
        {{ element[col.key] | date : col.format || "shortDate" }}
        } @case ('currency') {
        {{ element[col.key] | currency : col.format || "USD" }}
        } @default {
        {{ element[col.key] }}
        } }
      </td>
    </ng-container>
    } @if (hasActions) {
    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef>Actions</th>
      <td mat-cell *matCellDef="let element">
        @for (action of actions; track action.actionKey) {
        <button
          mat-icon-button
          [attr.aria-label]="action.tooltip"
          [matTooltip]="action.tooltip"
          [color]="action.color || 'basic'"
          (click)="onActionClick(action.actionKey, element)"
        >
          <mat-icon>{{ action.icon }}</mat-icon>
        </button>
        }
      </td>
    </ng-container>
    }

    <tr
      mat-header-row
      *matHeaderRowDef="['counter'].concat(displayedColumns)"
    ></tr>
    <tr
      mat-row
      *matRowDef="let row; columns: ['counter'].concat(displayedColumns)"
    ></tr>

    @if(dataRow.length === 0){
    <tr>
      <td
        [attr.colspan]="displayedColumns.length + 1"
        class="text-center py-3 text-muted"
      >
        No data available.
      </td>
    </tr>

    }
  </table>

  @if(usePaginator){
  <mat-paginator
    [pageSizeOptions]="[5, 10, 20]"
    [length]="totalItems"
    [pageSize]="pageSize"
    [pageIndex]="pageIndex"
    (page)="onPageChange($event)"
    showFirstLastButtons
  />
  }
</div>
