<header id="header" class="header d-flex align-items-center fixed-top">
  <div
    class="container position-relative d-flex align-items-center justify-content-between"
  >
    <a routerLink="/" class="logo d-flex align-items-center me-auto me-xl-0">
      <img
        src="assets/images/logo/yemenlogo.png"
        alt="مدارس اليمن"
        class="logo-img"
      />
    </a>

    <nav id="navmenu" class="navmenu">
      <ul>
        <li>
          <a
            routerLink="/"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
            >الرئيسية</a
          >
        </li>
        <li><a routerLink="/schools" routerLinkActive="active">المدارس</a></li>
        <li>
          <a routerLink="/courses" routerLinkActive="active"
            >مكتبة مدارس اليمن</a
          >
        </li>
        <li>
          <a routerLink="/jops" routerLinkActive="active">وظائف</a>
        </li>
        <li>
          <a routerLink="/teachers" routerLinkActive="active">معلمين</a>
        </li>

        @if (accountService.currentUser()?.userType === userTypes.SuperAdmin ||
        true ) {

        <li><a routerLink="/dash-board">لوحة التحكم</a></li>
        } @if (accountService.currentUser()?.userType === userTypes.Admin ||
        accountService.currentUser()?.userType === userTypes.Teacher ) {
        <li><a routerLink="/school-dash-board">لوحة تحكم المدرسة</a></li>

        } @if (accountService.currentUser()?.userType === userTypes.Parent ) {
        <li><a routerLink="/parent-dash-board">لوحة تحكم اولياء الأمور</a></li>

        }
        <mat-menu #messagesMenu="matMenu">
          <app-messages-dropdown></app-messages-dropdown>
        </mat-menu>
        <!-- <li>
          <a routerLink="/test-error" routerLinkActive="active">اختبار الخطأ</a>
        </li> -->
      </ul>
      <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
    </nav>
    <div class="d-flex align-items-center">
      @if (accountService.currentUser()) {
      <button
        mat-icon-button
        [matMenuTriggerFor]="messagesMenu"
        class="message-icon"
      >
        <mat-icon>mail</mat-icon>
      </button>
      <!-- قائمة المستخدم -->
      <button
        mat-button
        [matMenuTriggerFor]="userMenu"
        class="user-menu-button d-flex align-items-center bg-transparent border-0"
      >
        <mat-icon class="me-1">person</mat-icon>
        <span class="user-name me-1">{{
          accountService.currentUser()?.name
        }}</span>
        <mat-icon>arrow_drop_down</mat-icon>
      </button>
      } @else {
      <!-- روابط التسجيل وتسجيل الدخول -->
      <div class="gap-3 d-flex">
        <!-- <a class="btn-getstarted me-2 p-2" routerLink="/register">تسجيل</a> -->
        <a class="btn-getstarted p-2" routerLink="/login">تسجيل الدخول</a>
      </div>
      }
    </div>

    <!-- قائمة منسدلة -->
    <mat-menu #userMenu="matMenu">
      <button mat-menu-item>
        <mat-icon>account_circle</mat-icon>
        <span>الملف الشخصي</span>
      </button>
      <button mat-menu-item>
        <mat-icon>settings</mat-icon>
        <span>الإعدادات</span>
      </button>
      <button mat-menu-item (click)="logout()">
        <mat-icon>exit_to_app</mat-icon>
        <span>تسجيل خروج</span>
      </button>
    </mat-menu>
  </div>
</header>
