<header id="header" class="header d-flex align-items-center fixed-top">
  <div
    class="container position-relative d-flex align-items-center justify-content-between"
  >
    <a routerLink="/" class="logo d-flex align-items-center me-auto me-xl-0">
      <!-- Uncomment the line below if you also wish to use an image logo -->
      <!-- <img src="assets/img/logo.webp" alt=""> -->
      <h1 class="sitename">Invent</h1>
      <span>.</span>
    </a>

    <nav id="navmenu" class="navmenu">
      <ul>
        <li><a routerLink="/" class="active">Home</a></li>
        <li><a routerLink="/school-details">school-details</a></li>
        <li><a routerLink="/dash-board">Dashboard</a></li>

        <li><a href="#team">Team</a></li>
        <li class="dropdown">
          <a href="#"
            ><span>Dropdown</span>
            <i class="bi bi-chevron-down toggle-dropdown"></i
          ></a>
          <ul>
            <li><a href="#">Dropdown 1</a></li>
            <li class="dropdown">
              <a href="#"
                ><span>Deep Dropdown</span>
                <i class="bi bi-chevron-down toggle-dropdown"></i
              ></a>
              <ul>
                <li><a href="#">Deep Dropdown 1</a></li>
                <li><a href="#">Deep Dropdown 2</a></li>
                <li><a href="#">Deep Dropdown 3</a></li>
                <li><a href="#">Deep Dropdown 4</a></li>
                <li><a href="#">Deep Dropdown 5</a></li>
              </ul>
            </li>
            <li><a href="#">Dropdown 2</a></li>
            <li><a href="#">Dropdown 3</a></li>
            <li><a href="#">Dropdown 4</a></li>
          </ul>
        </li>
        <li><a href="#contact">Contact</a></li>
      </ul>
      <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
    </nav>
    <div class="d-flex align-items-center gap-3">
      @if (accountService.currentUser()) {

      <!-- قائمة المستخدم -->
      <button
        mat-button
        [matMenuTriggerFor]="userMenu"
        class="user-menu-button d-flex align-items-center bg-transparent border-0"
      >
        <mat-icon class="me-1">person</mat-icon>
        <span class="user-name me-1">{{
          accountService.currentUser()?.firstName
        }}</span>
        <mat-icon>arrow_drop_down</mat-icon>
      </button>
      } @else {
      <!-- روابط التسجيل وتسجيل الدخول -->
      <div class="">
        <a class="btn-getstarted me-2" routerLink="/register">Register</a>
        <a class="btn-getstarted" routerLink="/login">login</a>
      </div>
      }
    </div>

    <!-- قائمة منسدلة -->
    <mat-menu #userMenu="matMenu">
      <button mat-menu-item>
        <mat-icon>account_circle</mat-icon>
        <span>Profile</span>
      </button>
      <button mat-menu-item>
        <mat-icon>settings</mat-icon>
        <span>Settings</span>
      </button>
      <button mat-menu-item (click)="logout()">
        <mat-icon>exit_to_app</mat-icon>
        <span>Logout</span>
      </button>
    </mat-menu>
  </div>
</header>
