.filter-form-field .mat-form-field-wrapper {
    padding-bottom: 0px;
  }

  .filter-form-field .mat-form-field-infix {
    font-size: 14px;
  }

  .filter-form-field .mat-select-trigger {
    font-size: 14px;
    min-height: 32px;
  }

  .filter-container {
    row-gap: 1rem;
  }