<app-page-wrapper
  headerTitle="قائمة الفصول الدراسية"
  headerSubtitle="استعرض الفصول الدراسية المرتبطة بالسنة المختارة"
  headerIcon="map"
>
  <button
    card-actions
    color="primary"
    mat-flat-button
    (click)="opentermDialog()"
  >
    <i class="bi bi-plus-lg me-1"></i>
    إضافة فصل دراسي
  </button>

  <app-table
    [allowSerch]="false"
    [dataRow]="terms()"
    [columns]="Columns"
    [hasActions]="true"
    (actionClicked)="handleUserAction($event)"
    [usePaginator]="false"
    [actions]="actions"
  ></app-table>
</app-page-wrapper>
