<app-page-wrapper
  headerTitle="{{ school?.nameEn }}"
  headerSubtitle="{{ school?.id || 'N/A' }}"
  headerIcon="account_balance"
>
  <div class="row g-4">
    <!-- School Contact Information -->
    <div class="col-12 col-md-6">
      <h4 class="section-title text-primary mb-3">Contact Information</h4>
      <mat-list>
        <mat-list-item>
          <mat-icon matListItemIcon>location_on</mat-icon>
          <div matListItemTitle>Address</div>
          <div matListItemLine>
            {{ school?.addressEn || "N/A" }}, {{ school?.cityName || "N/A" }},
            {{ school?.email }} {{ school?.regionName || "N/A" }}
          </div>
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>
          <mat-icon matListItemIcon>phone</mat-icon>
          <div matListItemTitle>Phone</div>
          <div matListItemLine>{{ school?.mainPhone || "N/A" }}</div>
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>
          <mat-icon matListItemIcon>email</mat-icon>
          <div matListItemTitle>Email</div>
          <div matListItemLine>{{ school?.email || "N/A" }}</div>
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>
          <mat-icon matListItemIcon>public</mat-icon>
          <div matListItemTitle>Website</div>
        </mat-list-item>
      </mat-list>
    </div>

    <!-- School Administrative & Statistics -->
    <div class="col-12 col-md-6">
      <h4 class="section-title text-primary mb-3">
        Administrative & Statistics
      </h4>
      <mat-list>
        <mat-list-item>
          <mat-icon matListItemIcon>person_outline</mat-icon>
          <div matListItemTitle>Principal</div>
          <div matListItemLine>{{ school?.postalCode || "N/A" }}</div>
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>
          <mat-icon matListItemIcon>event_note</mat-icon>
          <div matListItemTitle>Founded Year</div>
        </mat-list-item>
        <mat-divider></mat-divider>
      </mat-list>
    </div>
  </div>
  <mat-card-actions
    class="card-actions-new d-flex justify-content-end p-4 gap-3"
  >
    <button mat-raised-button color="primary">
      <mat-icon>edit</mat-icon> Edit Details
    </button>
    <button mat-raised-button color="warn">
      <mat-icon>delete</mat-icon> Delete School
    </button>
    <button mat-stroked-button color="accent">
      <mat-icon>send</mat-icon> Send Message
    </button>
  </mat-card-actions>
</app-page-wrapper>
