    <!-- start contact -->

         <div class="contact ">
             <div class="container">
                <app-main-titel titel="contact us"/>
                 <div class="content">
                     <form action="">
                         <input class="main-input form-control" type="text" name="name" placeholder="your name">
                         <input class="main-input form-control" type="email" name="mail" placeholder="your email">
                         <textarea class="main-input form-control" name="message"  placeholder="your message" ></textarea>
                         <input type="submit" class="btn btn-primary" value="send message">
                         
                     </form>
                     <div class="info">
                         <h4>get in touch</h4>
                         <span class="phone">734344268</span>
                         <span class="phone">734344268</span>
                         <h4>where we are</h4>
                         <address>
                              awesome address 17 <br>
                               new yourk, nyc <br>
                                123-4560-789 <br>
                                 usa
                         </address>
                     </div>
                 </div>
             </div>
         </div>
    
    <!-- start contact -->