<!-- Services Section -->
<section id="services" class="services section">
  <app-titel-section
    titel="Our Services"
    description="Comprehensive digital tools to simplify and enhance school management for administrators, teachers, students, and parents."
  />
  <div class="container" data-aos="fade-up" data-aos-delay="100">
    <div class="row justify-content-center g-5">
      <div class="col-md-6" data-aos="fade-right" data-aos-delay="100">
        <app-service-section-item
          icon="bi bi-building"
          titel="School Management"
          description="Easily manage school profiles, academic years, terms, and multi-campus structures all in one place."
        />
      </div>
      <div class="col-md-6" data-aos="fade-right" data-aos-delay="100">
        <app-service-section-item
          icon="bi bi-people"
          titel="Student & Staff Management"
          description="Add, update, and organize students, teachers, and staff with powerful search and filtering tools."
        />
      </div>
      <div class="col-md-6" data-aos="fade-right" data-aos-delay="100">
        <app-service-section-item
          icon="bi bi-calendar2-week"
          titel="Timetable & Attendance"
          description="Automate class schedules and track student attendance with real-time data and reporting tools."
        />
      </div>
      <div class="col-md-6" data-aos="fade-right" data-aos-delay="100">
        <app-service-section-item
          icon="bi bi-journal-bookmark"
          titel="Grading & Report Cards"
          description="Assign grades, calculate averages, and generate printable report cards with customizable templates."
        />
      </div>

      <div class="col-md-6" data-aos="fade-right" data-aos-delay="100">
        <app-service-section-item
          icon="bi bi-chat-dots"
          titel="Communication Tools"
          description="Enable secure communication between teachers, students, and parents through messages and announcements."
        />
      </div>
      <div class="col-md-6" data-aos="fade-right" data-aos-delay="100">
        <app-service-section-item
          icon="bi bi-bar-chart"
          titel="Analytics & Reports"
          description="View insights on academic performance, attendance trends, and administrative summaries with visual reports."
        />
      </div>
    </div>
  </div>
</section>
<!-- /Services Section -->
