<app-page-wrapper
  headerTitle="Region List"
  headerSubtitle="Explore regions within selected cities"
  headerIcon="map"
>
  <button
    card-actions
    color="primary"
    mat-flat-button
    (click)="openRegionDialog()"
  >
    <i class="bi bi-plus-lg me-1"></i>
    Add City
  </button>

  <app-table
    [dataRow]="regionService.regions()"
    [columns]="regionColumns"
    [hasActions]="true"
    (actionClicked)="handleUserAction($event)"
    [usePaginator]="false"
    [actions]="actions"
  ></app-table>
</app-page-wrapper>
