<h2 mat-dialog-title>{{ isEdit ? "تعديل القسم" : "إضافة قسم" }}</h2>

<form [formGroup]="form" (ngSubmit)="submit()" mat-dialog-content class="pt-3">
  <app-select-input
    label="المادة"
    [options]="subjects()"
    labelKey="name"
    valueKey="gradeSubjectId"
    formControlName="gradeSubjectId"
  />
  <app-select-input
    label="الفصل الدراسي"
    [options]="terms()"
    labelKey="name"
    valueKey="id"
    formControlName="termId"
  />
  <app-select-input
    label="المعلم"
    [options]="teachrs()"
    labelKey="name"
    valueKey="id"
    formControlName="teacherId"
  />
</form>

<mat-dialog-actions align="end">
  <button mat-button (click)="cancel()">إلغاء</button>
  <button
    mat-flat-button
    color="primary"
    [disabled]="form.invalid"
    type="submit"
    (click)="submit()"
  >
    {{ isEdit ? "تحديث" : "إضافة" }}
  </button>
</mat-dialog-actions>
