<mat-card class="course-card-premium">
  <img
    mat-card-image
    [src]="'assets/images/schools/' + course.image"
    alt="{{ course.title }}"
  />
  <mat-card-header>
    <mat-card-title>{{ course.title }}</mat-card-title>
    <mat-card-subtitle>{{ course.instructor }}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <p>{{ course.shortDescription }}</p>
    <div class="course-price-container">
      <p class="course-price-premium">\${{ course.price }}</p>
    </div>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button color="primary">تفاصيل</button>
  </mat-card-actions>
</mat-card>
