<app-page-wrapper
  headerTitle="City List"
  headerSubtitle="Browse all available cities in the system"
  headerIcon="location_city"
  [showActions]="false"
>
  <button
    card-actions
    color="primary"
    mat-flat-button
    (click)="openCityDialog()"
  >
    <i class="bi bi-plus-lg me-1"></i>
    Add City
  </button>

  <app-table
    [dataSource]="productsDataSource"
    [columns]="productColumns"
    [hasActions]="true"
    [actions]="actions"
    (actionClicked)="handleUserAction($event)"
  ></app-table>
</app-page-wrapper>
