<app-page-wrapper
  headerTitle="School List"
  headerSubtitle="Manage all schools registered in the system"
  headerIcon="school"
  [showActions]="false"
>
  <button
    card-actions
    color="primary"
    mat-flat-button
    routerLink="/dash-board/schools-add"
  >
    <i class="bi bi-plus-lg me-1"></i>
    Create School
  </button>

  <app-table
    [dataSource]="usersDataSource"
    [columns]="userColumns"
    [hasActions]="true"
    (actionClicked)="handleUserAction($event)"
  >
  </app-table>
</app-page-wrapper>
