<app-page-wrapper
  headerTitle="قائمة المدارس"
  headerSubtitle="إدارة جميع المدارس المسجلة في النظام"
  headerIcon="school"
>
  <button
    card-actions
    color="primary"
    mat-flat-button
    routerLink="/dash-board/schools-add"
  >
    <i class="bi bi-plus-lg me-1"></i>
    إنشاء مدرسة
  </button>

  <app-table
    [dataRow]="schools"
    [columns]="schoolColumns"
    [hasActions]="true"
    (actionClicked)="handleUserAction($event)"
    [totalItems]="totalItems"
    [pageSize]="schoolParams.pageSize"
    (pageChange)="onPageChange($event)"
    (sortChange)="onSortChange($event)"
  >
  </app-table>
</app-page-wrapper>
