<mat-toolbar class="topbar px-4">
  <div class="brand">
    <a routerLink="/" class="logo d-flex align-items-center me-auto me-xl-0">
      <h1 class="sitename">مدارس اليمن</h1>
    </a>
  </div>
  <div class="actions">
    <button mat-icon-button (click)="notifications.emit()" title="الإشعارات">
      <mat-icon>notifications</mat-icon>
    </button>

    <div class="user-profile">
      <img
        [src]="'assets/img/person/person-m-5.webp'"
        alt="avatar"
        class="avatar"
      />
      <div style="text-align: right">
        <div class="user-name">{{ user?.name }}</div>
        <div class="user-role">ولي الأمر</div>
      </div>
    </div>
  </div>
</mat-toolbar>
