<header>
    <nav>
        <div class="logo-search">
            <a href="#" class="logo">YEMEN SCH<span>OOLS</span></a>
            <div class="search-box">
                <input type="search" placeholder="Search Here...">
                <i class="fa-solid fa-magnifying-glass"></i>
            </div>

          
        </div>

        <ul>
            <li class="active"><a routerLink="/home">Home</a></li>
            <li><a routerLink="/schools">schools</a></li>
            <li><a routerLink="/home">blog</a></li>
            <li><a routerLink="/home">About</a></li>
            <li><a routerLink="/contact">contact</a></li>
        </ul>
    </nav>
</header>