<h2 mat-dialog-title>{{ isEdit ? "Edit City" : "Add City" }}</h2>

<form [formGroup]="form" (ngSubmit)="submit()" mat-dialog-content class="pt-3">
  <app-form-input label="Name " formControlName="name" />
  <app-select-input
    label="City Id"
    [options]="yearService.years()"
    labelKey="name"
    valueKey="id"
    formControlName="academicYearId"
  />
  <app-form-input label="startDate" type="date" formControlName="startDate" />
  <app-form-input label="startDate" type="date" formControlName="endDate" />
</form>

<mat-dialog-actions align="end">
  <button mat-button (click)="cancel()">Cancel</button>
  <button
    mat-flat-button
    color="primary"
    [disabled]="form.invalid"
    type="submit"
    (click)="submit()"
  >
    {{ isEdit ? "Update" : "Add" }}
  </button>
</mat-dialog-actions>
