<h2 mat-dialog-title>
  {{ isEdit ? "تعديل السنة الدراسية" : "إضافة سنة دراسية" }}
</h2>

<form [formGroup]="form" (ngSubmit)="submit()" mat-dialog-content class="pt-3">
  <app-form-input label="الاسم" formControlName="name" />
  <app-form-input
    label="تاريخ البداية"
    type="date"
    formControlName="startDate"
  />
  <app-form-input label="تاريخ النهاية" type="date" formControlName="endDate" />
</form>

<mat-dialog-actions align="end">
  <button mat-button (click)="cancel()">إلغاء</button>
  <button
    mat-flat-button
    color="primary"
    [disabled]="form.invalid"
    type="submit"
    (click)="submit()"
  >
    {{ isEdit ? "تحديث" : "إضافة" }}
  </button>
</mat-dialog-actions>
