<h2 mat-dialog-title>{{ isEdit ? "تعديل الصف" : "إضافة صف" }}</h2>

<form [formGroup]="form" (ngSubmit)="submit()" mat-dialog-content class="pt-3">
  <app-form-input label="اسم الصف" formControlName="name" />
  <app-form-input
    label="العدد الأقصى للطلاب"
    type="number"
    formControlName="capacity"
  />
  <app-select-input
    label="المعلم المسؤول"
    [options]="teachers"
    labelKey="name"
    valueKey="id"
    formControlName="classTeacherId"
  />
</form>

<mat-dialog-actions align="end">
  <button mat-button (click)="cancel()">إلغاء</button>
  <button
    mat-flat-button
    color="primary"
    [disabled]="form.invalid"
    type="submit"
    (click)="submit()"
  >
    {{ isEdit ? "تحديث" : "إضافة" }}
  </button>
</mat-dialog-actions>
