<app-page-wrapper
  headerTitle="قائمة المعلمين"
  headerSubtitle="استعرض جميع المعلمين المتاحين في النظام"
  headerIcon="location_city"
>
  <button
    card-actions
    color="primary"
    mat-flat-button
    routerLink="/school-dash-board/school-teacher-add"
  >
    <i class="bi bi-plus-lg me-1"></i>
    إضافة معلم
  </button>

  <app-table
    [dataRow]="teachers()"
    [columns]="Columns"
    [hasActions]="true"
    (actionClicked)="handleUserAction($event)"
    [usePaginator]="false"
  ></app-table>
</app-page-wrapper>
