<app-hero-section />
<div class="container py-5">
  <app-titel-section
    titel="Our Schools"
    description="Explore our diverse range of schools committed to excellence in education."
  />
  <div class="row" style="height: 375px">
    <div class="col-lg-4 col-md-6 col-sm-12 mb-4">
      <app-school-item />
    </div>
    <div class="col-lg-4 col-md-6 col-sm-12 mb-4">
      <app-school-item />
    </div>
    <div class="col-lg-4 col-md-6 col-sm-12 mb-4">
      <app-school-item />
    </div>
  </div>
</div>

<app-about-section />
<app-how-we-work-section />
<app-services-section />
<app-services-alt-section />
<app-call-to-action-section />
<app-pricing-section />
<app-faq-section />
<app-testimonials-section />
<app-contact-section />
