<!-- testimonials.component.html -->
<section id="testimonials" class="testimonials section">
  <app-titel-section
    titel="Testimonials"
    description="Necessitatibus eius consequatur ex aliquid fuga eum quidem sint
      consectetur velit"
  />

  <div class="container" data-aos="fade-up" data-aos-delay="100">
    <swiper-container
      #swiperRef
      [loop]="true"
      [speed]="800"
      autoplay-delay="3000"
      [slidesPerView]="1"
      [spaceBetween]="30"
      [pagination]="{
        clickable: true,
        el: '.testimonials .swiper-pagination',
        type: 'bullets'
      }"
      [breakpoints]="{
        '768': { slidesPerView: 2 },
        '1200': { slidesPerView: 3 }
      }"
    >
      <!-- #region -->

      <swiper-slide class="swiper-slide">
        <div class="testimonial-card">
          <div class="testimonial-content">
            <p>
              <i class="bi bi-quote quote-icon"></i>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit
              tellus, luctus nec ullamcorper mattis, pulvinar dapibus leo. Sed
              do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            </p>
          </div>
          <div class="testimonial-profile">
            <div class="rating">
              <i class="bi bi-star-fill"></i>
              <i class="bi bi-star-fill"></i>
              <i class="bi bi-star-fill"></i>
              <i class="bi bi-star-fill"></i>
              <i class="bi bi-star-fill"></i>
            </div>
            <div class="profile-info">
              <img
                src="assets/img/person/person-m-8.webp"
                alt="Profile Image"
              />
              <div>
                <h3>Robert Johnson</h3>
                <h4>Marketing Director</h4>
              </div>
            </div>
          </div>
        </div>
      </swiper-slide>

      <swiper-slide class="swiper-slide">
        <div class="testimonial-card">
          <div class="testimonial-content">
            <p>
              <i class="bi bi-quote quote-icon"></i>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit
              tellus, luctus nec ullamcorper mattis, pulvinar dapibus leo. Sed
              do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            </p>
          </div>
          <div class="testimonial-profile">
            <div class="rating">
              <i class="bi bi-star-fill"></i>
              <i class="bi bi-star-fill"></i>
              <i class="bi bi-star-fill"></i>
              <i class="bi bi-star-fill"></i>
              <i class="bi bi-star-fill"></i>
            </div>
            <div class="profile-info">
              <img
                src="assets/img/person/person-m-8.webp"
                alt="Profile Image"
              />
              <div>
                <h3>Robert Johnson</h3>
                <h4>Marketing Director</h4>
              </div>
            </div>
          </div>
        </div>
      </swiper-slide>

      <swiper-slide class="swiper-slide">
        <div class="testimonial-card">
          <div class="testimonial-content">
            <p>
              <i class="bi bi-quote quote-icon"></i>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit
              tellus, luctus nec ullamcorper mattis, pulvinar dapibus leo. Sed
              do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            </p>
          </div>
          <div class="testimonial-profile">
            <div class="rating">
              <i class="bi bi-star-fill"></i>
              <i class="bi bi-star-fill"></i>
              <i class="bi bi-star-fill"></i>
              <i class="bi bi-star-fill"></i>
              <i class="bi bi-star-fill"></i>
            </div>
            <div class="profile-info">
              <img
                src="assets/img/person/person-m-8.webp"
                alt="Profile Image"
              />
              <div>
                <h3>Robert Johnson</h3>
                <h4>Marketing Director</h4>
              </div>
            </div>
          </div>
        </div>
      </swiper-slide>

      <swiper-slide class="swiper-slide">
        <div class="testimonial-card">
          <div class="testimonial-content">
            <p>
              <i class="bi bi-quote quote-icon"></i>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit
              tellus, luctus nec ullamcorper mattis, pulvinar dapibus leo. Sed
              do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            </p>
          </div>
          <div class="testimonial-profile">
            <div class="rating">
              <i class="bi bi-star-fill"></i>
              <i class="bi bi-star-fill"></i>
              <i class="bi bi-star-fill"></i>
              <i class="bi bi-star-fill"></i>
              <i class="bi bi-star-fill"></i>
            </div>
            <div class="profile-info">
              <img
                src="assets/img/person/person-m-8.webp"
                alt="Profile Image"
              />
              <div>
                <h3>Robert Johnson</h3>
                <h4>Marketing Director</h4>
              </div>
            </div>
          </div>
        </div>
      </swiper-slide>

      <swiper-slide class="swiper-slide">
        <div class="testimonial-card">
          <div class="testimonial-content">
            <p>
              <i class="bi bi-quote quote-icon"></i>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit
              tellus, luctus nec ullamcorper mattis, pulvinar dapibus leo. Sed
              do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            </p>
          </div>
          <div class="testimonial-profile">
            <div class="rating">
              <i class="bi bi-star-fill"></i>
              <i class="bi bi-star-fill"></i>
              <i class="bi bi-star-fill"></i>
              <i class="bi bi-star-fill"></i>
              <i class="bi bi-star-fill"></i>
            </div>
            <div class="profile-info">
              <img
                src="assets/img/person/person-m-8.webp"
                alt="Profile Image"
              />
              <div>
                <h3>Robert Johnson</h3>
                <h4>Marketing Director</h4>
              </div>
            </div>
          </div>
        </div>
      </swiper-slide>

      <!-- #endregion  -->
    </swiper-container>

    <div class="swiper-pagination"></div>
  </div>
</section>
